$topY: -16px;
$contentTopY: -8px;
.m-dialog-content-wrapper {
  position: fixed;
  width: 100%;
  z-index: var(--m-content-wrapper-index, 1000);
  pointer-events: all;
  inset: 0;
  overflow: auto;
  padding: var(--m-dialog-content-top, 80px) 0 24px;

  &.m-dialog-content-fullscreen {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;

    .m-dialog-content {
      width: 100%;
      min-height: 100%;
      border-radius: 0;
    }
  }
  &.m-dialog-content-center {
    padding: 24px 0;
    display: flex;
  }
}
.m-dialog-content {
  box-sizing: border-box;
  pointer-events: all;
  padding: 16px;
  margin: auto;
  position: relative;
  z-index: var(--m-content-wrapper-index, 1000);
  width: var(--m-dialog-content-width);
  border-radius: var(--m-dialog-border-radius, var(--m-radius-small));
}
.m-dialog-close {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  color: var(--m-rgba-400);
  z-index: var(--m-content-wrapper-index, 1000);
  &:hover {
    color: var(--m-primary-500);
  }
}

.m-dialog-content-background {
  position: absolute;
  inset: 0;
  z-index: var(--m-content-wrapper-index, 1000);
  width: 100%;
  height: 100%;
  background: var(--m-theme-bg, #fff);
  border-radius: inherit;
  box-shadow:
    0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.m-dialog-content-body {
  width: 100%;
  border-radius: inherit;
  position: relative;
  z-index: var(--m-content-wrapper-index, 1000);
}

@keyframes bgShow {
  0% {
    transform: translateY($topY);
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    opacity: 0.66;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentShow {
  0% {
    opacity: 0;
    transform: translateY($contentTopY);
  }
  50% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bgHide {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  33% {
    transform: translateY(0px);
    opacity: 0.88;
  }
  100% {
    transform: translateY($topY);
    opacity: 0;
  }
}
@keyframes contentHide {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.15;
  }
  100% {
    opacity: 0;
    transform: translateY($contentTopY);
  }
}

.m-dialog-content-show {
  .m-dialog-content-background,.m-dialog-close {
    animation: bgShow var(--m-dialog-duration, 300ms) ease-out forwards;
  }
  .m-dialog-content-body {
    animation: contentShow var(--m-dialog-duration, 300ms) ease-out forwards;
  }
}
.m-dialog-content-hide {
  .m-dialog-content-background,.m-dialog-close {
    animation: bgHide var(--m-dialog-duration, 300ms) ease-out forwards;
  }
  .m-dialog-content-body {
    animation: contentHide var(--m-dialog-duration, 300ms) ease-out forwards;
  }
}
