.m-dialog {
  z-index: var(--m-dialog-index, 1000);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.is-fullscreen {
    .m-dialog-main {
      height: 100%;
    }
  }
}

.m-dialog-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: var(--m-dialog-top, 80px) 0 var(--m-dialog-bottom, 24px);
}

.m-dialog-main {
  box-sizing: border-box;
  background: var(--m-theme-bg, #fff);
  border-radius: var(--m-dialog-border-radius, var(--m-radius-small));
  box-shadow:
    0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  pointer-events: all;
  padding: 16px;
  width: var(--m-dialog-width);
  margin: auto;
  position: relative;
  z-index: 1;
}

.m-dialog-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 18px;
  color: var(--m-rgba-300);
  transition: all 0.3s ease-in-out;
  padding: 4px;
  border-radius: var(--m-radius-small);
  
  &:hover {
    color: var(--m-primary-600);
    background-color: var(--m-rgba-50);
  }
  &:active {
    color: var(--m-primary-600);
    background-color: var(--m-rgba-100);
  }

}

.m-dialog-header {
  padding: 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding-right: var(--m-size-small);
}

.m-dialog-body {
  padding: 0;
  font-size: 14px;
  line-height: 22px;
}
