.m-dropdown {
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

.m-dropdown__content {
  position: absolute;
  left: var(--left, -99999px);
  top: var(--top, -99999px);
  pointer-events: all;
  border-radius: var(--m-radius-small);
  z-index: 1000;
  transform-origin: left top;
  background: var(--m-theme-50);
}

.m-dropdown__body {
  min-width: fit-content;
  overflow-y: auto;
  transform-origin: inherit;
  position: relative;
  z-index: 1;
  padding: 4px;
}