@mixin wrapperStyle() {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: var(--m-radius-small);
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--m-theme-900);
  height: fit-content;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  &:hover {
    border-color: var(--m-primary-600);
  }
}