.m-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--m-size-small, 36px);
  border-radius: var(--m-radius-small);

  &.m-input-size-mini {
    height: var(--m-size-mini, 28px);
  }
  &.m-input-size-large {
    height: var(--m-size-large, 42px);
  }

  @each $type in (primary, success, warning, error) {
    &.m-input-status-#{$type} {
      .m-input-content {
        border-color: var(--m-#{$type}-600);
        color: var(--m-#{$type}-600);
        &:hover {
          border-color: var(--m-#{$type}-600);
        }
      }
    }
  }
}

.m-input-prefix {
  height: 100%;
  width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: var(--m-theme-700);
  white-space: nowrap;
}

.m-input-suffix {
  height: 100%;
  width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: var(--m-theme-700);
  white-space: nowrap;
}

.m-input-clear {
  height: 100%;
  width: 1.2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  color: var(--m-rgba-100);
  transition: all 120ms ease-out;
  &:hover {
    color: var(--m-rgba-300);
  }
  .m-input-clear-icon {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    display: none;
    transition: all 120ms ease-out;
  }
}

.m-input-inner,
input,
textarea {
  outline: none;
  border: none;
  color: inherit;
  height: 100%;
  width: 100%;
  padding: 0;
  background: inherit;
}
.m-input-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 120px;
  border-radius: var(--m-radius-small);
  color: var(--m-theme-900);
  font-size: 14px;
  transition: all 120ms ease-out;
  border-color: var(--m-theme-500);
  border-style: solid;
  border-width: 1px;
  background-color: var(--m-theme-50);
  padding: 0 12px;
  &:hover {
    border-color: var(--m-primary-600);
    .m-input-clear-icon {
      display: block;
    }
  }
}

.is-focus {
  .m-input-content {
    border-color: var(--m-primary-600);
  }
}
.is-prepend {
  .m-input-content {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.is-append {
  .m-input-content {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.m-input-prepend,
.m-input-append {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: max-content;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid var(--m-theme-500);
}
.m-input-prepend {
  border-top-left-radius: var(--m-radius-small);
  border-bottom-left-radius: var(--m-radius-small);
  border-right: none;
}
.m-input-append {
  border-top-right-radius: var(--m-radius-small);
  border-bottom-right-radius: var(--m-radius-small);
  border-left: none;
}
