.m-button-group {
  display: inline-flex;
}

.m-button-layout-x {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  .m-button {
    border-radius: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    margin-left: -1px;

    &:first-child {
      border-top-left-radius: var(--m-radius-small);
      border-bottom-left-radius: var(--m-radius-small);
      margin-left: 0;
    }

    &:last-child {
      border-top-right-radius: var(--m-radius-small);
      border-bottom-right-radius: var(--m-radius-small);
    }

    &:hover {
      z-index: 2;
    }
  }
}

.m-button-layout-y {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .m-button {
    border-radius: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    width: 100%;

    &:first-child {
      border-top-left-radius: var(--m-radius-small);
      border-top-right-radius: var(--m-radius-small);
      margin-top: 0;
    }

    &:last-child {
      border-bottom-left-radius: var(--m-radius-small);
      border-bottom-right-radius: var(--m-radius-small);
    }

    &:hover {
      z-index: 2;
    }
  }
}
