.m-alert {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;

  .m-alert-main {
    position: relative;
    width: 100%;
    background: var(--m-primary-100);
    padding: 8px 12px;
    display: flex;
    align-items: center;
    min-height: 40px;
    border-radius: var(--m-radius-small);
    color: var(--m-theme-700);
    overflow: hidden;
  }

  .m-alert-content {
    flex: 1;
    line-height: 22px;
    padding-right: 40px;
    overflow: hidden;
    font-size: 14px;
  }
  .m-alert-title {
    font-weight: bold;
    line-height: 24px;
  }
  .m-alert-icon {
    margin-right: 12px;
    align-self: flex-start;
  }
  .m-alert-close {
    align-self: flex-start;
    position: absolute;
    top: 2px;
    right: 4px;
  }
  @each $type in primary, success, warning, danger {
    &.m-alert-#{$type} {
      @if ($type == danger) {
        $type: error;
      }
      .m-alert-main {
        background: var(--m-#{$type}-200);
        color: var(--m-#{$type}-600);
      }

      &.is-dark {
        .m-alert-main {
          background: var(--m-#{$type}-600);
          color: var(--m-theme-50);
        }
        .m-alert-close {
          .m-button {
            color: #fff;
          }
        }
      }
    }
  }
  
}


