@mixin disabledItem() {
  cursor: not-allowed;
  color: var(--m-disabled-400);

  &:hover,
  &:active {
    background: var(--m-theme-50);
  }
}

.m-menu__item {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  text-align: left;
  width: 100%;
  color: var(--m-theme-900);
  cursor: pointer;
  background: var(--m-theme-50);
  transition: all 120ms linear;
  border-radius: var(--m-radius-small);

  &:hover {
    background-color: var(--m-primary-100);
  }
  &:active {
    background-color: var(--m-primary-200);
  }

  &[data-disabled="true"] {
    @include disabledItem();
  }

  &.is__disabled {
    @include disabledItem();
  }
}
