.m-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--m-mask-bg, var(--m-rgba-500));
  z-index: var(--m-mask-index, 1000);
}

@keyframes m-mask-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes m-mask-close {
  to {
    opacity: 0;
  }
}

.m-mask-show {
  animation: m-mask-show var(--m-mask-duration, 300ms) ease-out forwards;
}

.m-mask-close {
  animation: m-mask-close var(--m-mask-duration, 300ms) ease-out forwards;
}
