@mixin shapeBase($btnHeight: 36px) {
  $w: $btnHeight;
  max-width: $w;
  width: $w;
  min-width: $w;
  height: $w;
  max-height: $w;
  min-height: $w;
  padding: 0;
  .m-button-icon-left {
    margin-right: 0;
  }
  .m-button-icon-right {
    margin-left: 0;
  }
}
@mixin btnSize($btnHeight: 36px) {
  height: $btnHeight;
  line-height: $btnHeight;
  font-size: 14px;
}
@mixin btnBase() {
  outline: none;
  font-weight: 500;
  border: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  text-wrap: nowrap;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 120ms linear;
  text-align: center;
  box-sizing: border-box;
  border-radius: var(--m-radius-small);
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-color: var(--m-theme-400);
  border-width: 1px;
}

@mixin defaultBtn() {
  --m-btn-ripple-color: var(--m-primary-200);
  background: var(--m-theme-bg);
  color: var(--m-theme-900);
  
  &:hover {
    background: var(--m-primary-100);
    color: var(--m-primary-500);
    border-color: var(--m-primary-500);
  }
  &:active {
    background: var(--m-primary-50);
    color: var(--m-primary-500);
    border-color: var(--m-primary-500);
  }
}
button,
.m-button {
  --m-btn-ripple-color: var(--m-rgba-100);
  --m-btn-ripple-radius: 50%;
  --m-btn-size: var(--m-size-small);
  padding: var(--button-padding);

  @include btnBase();
  @include btnSize(var(--button-height, var(--m-size-small)));
  background-color: var(--m-theme-bg);

  &.is-loading {
    pointer-events: none;
    opacity: 0.6;
  }

  &.m-button-shape-circle {
    @include shapeBase(var(--button-height,var(--m-size-small)));
    border-radius: 50%;
  }
  &.m-button-shape-square {
    @include shapeBase(var(--button-height,var(--m-size-small)));
    --m-btn-ripple-radius: var(--m-radius-large);
  }
  &.m-button-shape-round {
    border-radius: calc(var(--button-height,var(--m-size-small)) / 2);
  }
}
.m-button-type-default {
  @include defaultBtn();
}
.m-button-type-text {
  background: transparent;
  color: var(--m-theme-900);
  border: none;

  &:hover {
    background: var(--m-rgba-50);
  }
  &:active {
    background: var(--m-rgba-200);
  }
}

.m-button-type-info {
  background: var(--m-theme-600);
  color: var(--m-theme-50);
  --m-btn-ripple-color: var(--m-theme-500);
  border: none;
  &:hover {
    background: var(--m-theme-700);
  }
  &:active {
    background: var(--m-theme-500);
  }
}
.m-button-type-link {
  background: transparent;
  color: var(--m-primary-500);
  border: none;
  --m-btn-ripple-color: var(--m-primary-300);

  &:hover {
    background: var(--m-primary-100);
  }
  &:active {
    background: var(--m-primary-200);
  }
}
@each $type in (primary, success, warning, danger) {
  $t: $type;
  .m-button-type-#{$t} {
    @if ($type == danger) {
      $t: error;
    }
    background-color: var(--m-#{$t}-500);
    color: var(--m-theme-50);
    --m-btn-ripple-color: var(--m-#{$t}-200);
    border: none;
    &:hover {
      background-color: var(--m-#{$t}-600);
    }
    &:active {
      background-color: var(--m-#{$t}-400);
    }
    &[data-light="on"] {
      background-color: var(--m-#{$t}-100);
      color: var(--m-#{$t}-500);
      --m-btn-ripple-color: var(--m-#{$t}-300);
      &:hover {
        background-color: var(--m-#{$t}-50);
      }
      &:active {
        background-color: var(--m-#{$t}-200);
      }
    }
  }
}
// 点击涟漪效果动画
@keyframes rippleRunning {
  0% {
    transform: scale(0.8);
  }
  33% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.m-button-ripple-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: transparent;
}
.m-button-ripple {
  position: absolute;
  z-index: 0;
  border-radius: var(--m-btn-ripple-radius);
}
.m-button-ripple-active {
  background-color: var(--m-btn-ripple-color);
  animation: rippleRunning 500ms linear forwards;
}
.m-button-main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@keyframes alternate-loading {
  to {
    transform: rotate(360deg);
  }
}

.m-button-loading-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  .m-button-icon-loading {
    animation: alternate-loading 1000ms infinite linear;
  }
}

.m-button-icon-left {
  margin-right: 8px;
}
.m-button-icon-right {
  margin-left: 8px;
}
