$primary: (
  100: #ebf8ff,
  200: #c2e9ff,
  300: #94d0f7,
  400: #67b2eb,
  500: #3e93de,
  600: #1976d2,
  700: #0c56ab,
  800: #033b85
);

$warning: (
  100: #fff9e6,
  200: #ffedba,
  300: #ffde91,
  400: #ffcd69,
  500: #ffb940,
  600: #f29a15,
  700: #cc7708,
  800: #a65800
);

$success: (
  100: #f2fff0,
  200: #e4f8e3,
  300: #c5f2c2,
  400: #96e693,
  500: #68d968,
  600: #41cc45,
  700: #2da635,
  800: #1c8026
);

$error: (
  100: #ffe6ea,
  200: #fad3dc,
  300: #ff7a9c,
  400: #f54e7e,
  500: #e82563,
  600: #dc004e,
  700: #b50045,
  800: #8f003b
);

:root {
  @each $name, $value in $primary {
    --m-primary-#{$name}: #{$value};
  }
  @each $name, $value in $warning {
    --m-warning-#{$name}: #{$value};
  }
  @each $name, $value in $error {
    --m-error-#{$name}: #{$value};
  }
  @each $name, $value in $success {
    --m-success-#{$name}: #{$value};
  }
}

$theme: (
  50: #ffffff,
  100: #fafafa,
  200: #f5f5f5,
  300: #f0f0f0,
  400: #d9d9d9,
  500: #bfbfbf,
  600: #8c8c8c,
  700: #595959,
  800: #434343,
  900: #262626,
  1000: #111,
);

$rgba: (
  50: rgba(0, 0, 0, 0.05),
  100: rgba(0, 0, 0, 0.15),
  200: rgba(0, 0, 0, 0.25),
  300: rgba(0, 0, 0, 0.35),
  400: rgba(0, 0, 0, 0.45),
  500: rgba(0, 0, 0, 0.55),
  600: rgba(0, 0, 0, 0.65),
  700: rgba(0, 0, 0, 0.75),
  800: rgba(0, 0, 0, 0.85),
  900: rgba(0, 0, 0, 0.95)
);

:root {
  @each $name, $value in $theme {
    --m-theme-#{$name}: #{$value};
  }
  @each $name, $value in $rgba {
    --m-rgba-#{$name}: #{$value};
  }
}
