:root {
  // 尺寸
  --m-size-mini: 28px;
  --m-size-small: 32px;
  --m-size-large: 40px;
  // 圆角
  --m-radius-100: 4px;
  --m-radius-200: 8px;
  --m-radius-300: 12px;
  --m-radius-400: 16px;
  --m-radius-500: 20px;
  --m-radius-600: 24px;
}
