@mixin checkboxSize($size: var(--m-size-small)) {
  width: $size;
  height: $size;
  max-width: $size;
  max-height: $size;
  min-width: $size;
  min-height: $size;
  overflow: hidden;
}
@mixin inlineFlex() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin checkboxLabelSize($size: var(--m-size-small)) {
  font-size: 14px;
  min-height: $size;
  line-height: 22px;
  padding:0 12px 0 0;
}

.m-checkbox {
  --size: 20px;
  display: inline-flex;
  vertical-align: middle;
  cursor: pointer;

  &.m-checkbox-size-mini {
    --size: 18px;
    .m-checkbox-control-main {
      @include checkboxSize(var(--m-size-mini));
    }
    .m-checkbox-label {
      @include checkboxLabelSize(var(--m-size-mini));
    }
  }
  &.m-checkbox-size-small {
    --size: 20px;
    .m-checkbox-control-main {
      @include checkboxSize(var(--m-size-small));
    }
  }
  &.m-checkbox-size-large {
    --size: 24px;
    .m-checkbox-control-main {
      @include checkboxSize(var(--m-size-large));
    }
    .m-checkbox-label {
      @include checkboxLabelSize(var(--m-size-large));
    }
  }
}
.m-checkbox-input,
input[type="checkbox"] {
  display: none;
  @include checkboxSize(0);
}
.m-checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: inherit;
  max-width: 100%;
  overflow: hidden;
  height: fit-content;
  .m-checkbox-control-main {
    @include inlineFlex();
    @include checkboxSize();
    border-radius: 50%;
    transition: all 180ms ease-in-out;
    max-width: 100%;
    &:hover {
      background-color: var(--m-rgba-50);
    }
    &:active {
      background-color: var(--m-rgba-100);
    }
  }
  .m-checkbox-control-inner {
    color: var(--m-rgba-600);
    @include inlineFlex();
    @include checkboxSize(var(--size));
  }
  .m-checkbox-label {
    @include checkboxLabelSize();
    color: var(--m-theme-900);
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1;
    overflow: hidden;
    word-break: break-all;
  }
}
.m-checkbox-checked,
.m-checkbox-indeterminate {
  .m-checkbox-control-inner {
    color: var(--m-primary-600);
  }
}
.m-checkbox-disabled {
  color: var(--m-rgba-400);
  cursor: not-allowed;
  .m-checkbox-label {
    color: var(--m-rgba-400);
  }
  .m-checkbox-control-inner {
    color: var(--m-rgba-400);
  }
}
