html.dark {
    --m-primary-100: #75858d;
    --m-primary-200: #667c89;
    --m-primary-300: #4b697d;
    --m-primary-400: #365d7b;
    --m-primary-500: #29659a;
    --m-primary-600: #0f3e6d;
    --m-primary-700: #083569;
    --m-primary-800: #022a5e;
    --m-warning-100: #8c8a83;
    --m-warning-200: #867c61;
    --m-warning-300: #655738;
    --m-warning-400: #584622;
    --m-warning-500: #503a15;
    --m-warning-600: #5b3907;
    --m-warning-700: #4e2e04;
    --m-warning-800: #6a3901;
    --m-error-100: #7c6e71;
    --m-error-200: #826c71;
    --m-error-300: #763c4b;
    --m-error-400: #652134;
    --m-error-500: #761433;
    --m-error-600: #540420;
    --m-error-700: #5a0325;
    --m-error-800: #5b0026;
    --m-success-100: #787e77;
    --m-success-200: #575e56;
    --m-success-300: #4b604a;
    --m-success-400: #2e482d;
    --m-success-500: #1e431e;
    --m-success-600: #153d16;
    --m-success-700: #0b2f0e;
    --m-success-800: #07240a;


    --m-theme-50: #111;
    --m-theme-100: #222;
    --m-theme-200: #333;
    --m-theme-300: #444;
    --m-theme-400: #555;
    --m-theme-500: #666;
    --m-theme-600: #777;
    --m-theme-700: #888;
    --m-theme-800: #999;
    --m-theme-900: #cfcfcf;

    --m-action-50: rgba(255, 255, 255, 0.06);
    --m-action-100: rgba(255, 255, 255, 0.15);
    --m-action-200: rgba(255, 255, 255, 0.25);
    --m-action-300: rgba(255, 255, 255, 0.45);

    --m-disabled-100: rgba(255, 255, 255, 0.1);
    --m-disabled-200: rgba(255, 255, 255, 0.25);
    --m-disabled-300: rgba(255, 255, 255, 0.35);
    --m-disabled-400: rgba(255, 255, 255, 0.45);

    --m-mask-color: rgba(255, 255, 255, 0.35);

    --m-box-shadow-100: rgba(255, 255, 255, .08);
    --m-box-shadow-200: rgba(255, 255, 255, 0.12);
    --m-box-shadow-300: rgba(255, 255, 255, 0.15);
}