$primary: (
  50: #E6F1FE,
  100: #CCE3FD,
  200: #99C7FB,
  300: #66AAF9,
  400: #338EF7,
  500: #006FEE,
  600: #005BC4,
  700: #004493,
  800: #002E62,
  900: #001731,
);

$warning: (
  50: #FEFCE8,
  100: #FDEDD3,
  200: #FBDBA7,
  300: #F9C97C,
  400: #F7B750,
  500: #F5A524,
  600: #C4841D,
  700: #936316,
  800: #62420E,
  900: #312107,
);

$success: (
  50: #E8FAF0,
  100: #D1F4E0,
  200: #A2E9C1,
  300: #74DFA2,
  400: #45D483,
  500: #17C964,
  600: #12A150,
  700: #0E793C,
  800: #095028,
  900: #052814,
);

$error: (
  50: #fee7ef,
  100: #fdd0df,
  200: #faa0bf,
  300: #f871a0,
  400: #f54180,
  500: #f31260,
  600: #c20e4d,
  700: #920b3a,
  800: #610726,
  900: #310413,
);

:root {
  @each $name, $value in $primary {
    --m-primary-#{$name}: #{$value};
  }
  @each $name, $value in $warning {
    --m-warning-#{$name}: #{$value};
  }
  @each $name, $value in $error {
    --m-error-#{$name}: #{$value};
  }
  @each $name, $value in $success {
    --m-success-#{$name}: #{$value};
  }
}

$theme: (
  50: #ffffff,
  100: #FAFAFA,
  200: #F4F4F5,
  300: #E4E4E7,
  400: #D4D4D8,
  500: #A1A1AA,
  600: #71717A,
  700: #52525B,
  800: #3F3F46,
  900: #27272A,
  1000: #18181B,
  bg: #fff,
  container: #f6f6f6,
);

$rgba: (
  50: rgba(0, 0, 0, 0.05),
  100: rgba(0, 0, 0, 0.12),
  200: rgba(0, 0, 0, 0.24),
  300: rgba(0, 0, 0, 0.35),
  400: rgba(0, 0, 0, 0.45),
  500: rgba(0, 0, 0, 0.55),
  600: rgba(0, 0, 0, 0.65),
  700: rgba(0, 0, 0, 0.75),
  800: rgba(0, 0, 0, 0.85),
  900: rgba(0, 0, 0, 0.95)
);

:root {
  @each $name, $value in $theme {
    --m-theme-#{$name}: #{$value};
  }
  @each $name, $value in $rgba {
    --m-rgba-#{$name}: #{$value};
  }
}
