$primary: (
  900: #e6f1fe,
  800: #cce3fd,
  700: #99c7fb,
  600: #66aaf9,
  500: #338ef7,
  400: #006fee,
  300: #005bc4,
  200: #004493,
  100: #002e62,
  50: #001731
);

$warning: (
  900: #fefce8,
  800: #fdedd3,
  700: #fbdba7,
  600: #f9c97c,
  500: #f7b750,
  400: #f5a524,
  300: #c4841d,
  200: #936316,
  100: #62420e,
  50: #312107
);

$success: (
  900: #e8faf0,
  800: #d1f4e0,
  700: #a2e9c1,
  600: #74dfa2,
  500: #45d483,
  400: #17c964,
  300: #12a150,
  200: #0e793c,
  100: #095028,
  50: #052814
);

$error: (
  900: #fee7ef,
  800: #fdd0df,
  700: #faa0bf,
  600: #f871a0,
  500: #f54180,
  400: #f31260,
  300: #c20e4d,
  200: #920b3a,
  100: #610726,
  50: #310413
);

$theme: (
  1000: #ffffff,
  900: #fafafa,
  800: #f4f4f5,
  700: #e4e4e7,
  600: #d4d4d8,
  500: #a1a1aa,
  400: #71717a,
  300: #52525b,
  200: #3f3f46,
  100: #27272a,
  50: #18181b,
  bg: #151212,
  container: #2b2a2a,
);

$rgba: (
  50: rgba(255, 255, 255, 0.05),
  100: rgba(255, 255, 255, 0.12),
  200: rgba(255, 255, 255, 0.24),
  300: rgba(255, 255, 255, 0.35),
  400: rgba(255, 255, 255, 0.45),
  500: rgba(255, 255, 255, 0.55),
  600: rgba(255, 255, 255, 0.65),
  700: rgba(255, 255, 255, 0.75),
  800: rgba(255, 255, 255, 0.85),
  900: rgba(255, 255, 255, 0.95)
);
// 暗黑主题颜色覆盖

html.dark,
html[data-theme="dark"] {
  @each $name, $value in $theme {
    --m-theme-#{$name}: #{$value};
  }
  @each $name, $value in $rgba {
    --m-rgba-#{$name}: #{$value};
  }
  @each $name, $value in $primary {
    --m-primary-#{$name}: #{$value};
  }
  @each $name, $value in $warning {
    --m-warning-#{$name}: #{$value};
  }
  @each $name, $value in $error {
    --m-error-#{$name}: #{$value};
  }
  @each $name, $value in $success {
    --m-success-#{$name}: #{$value};
  }
}
