$primary: (
  100: #e3f2fd,
  200: #bbdefb,
  300: #64b5f6,
  400: #42a5f5,
  500: #2196f3,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0
);

$warning: (
  100: #fff8e1,
  200: #ffecb3,
  300: #ffd54f,
  400: #ffca28,
  500: #ffc107,
  600: #ffb300,
  700: #ffa000,
  800: #ff8f00
);

$success: (
  100: #f1f8e9,
  200: #dcedc8,
  300: #aed581,
  400: #9ccc65,
  500: #8bc34a,
  600: #7cb342,
  700: #689f38,
  800: #558b2f
);

$error: (
  100: #fbe9e7,
  200: #ffccbc,
  300: #ff8a65,
  400: #ff7043,
  500: #ff5722,
  600: #f4511e,
  700: #e64a19,
  800: #d84315
);

:root {
  @each $name, $value in $primary {
    --m-primary-#{$name}: #{$value};
  }
  @each $name, $value in $warning {
    --m-warning-#{$name}: #{$value};
  }
  @each $name, $value in $error {
    --m-error-#{$name}: #{$value};
  }
  @each $name, $value in $success {
    --m-success-#{$name}: #{$value};
  }
}

$theme: (
  50: #ffffff,
  100: #fafafa,
  200: #f5f5f5,
  300: #eeeeee,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  1000: #111,
  bg: #fff,
);

$rgba: (
  50: rgba(0, 0, 0, 0.05),
  100: rgba(0, 0, 0, 0.12),
  200: rgba(0, 0, 0, 0.24),
  300: rgba(0, 0, 0, 0.35),
  400: rgba(0, 0, 0, 0.45),
  500: rgba(0, 0, 0, 0.55),
  600: rgba(0, 0, 0, 0.65),
  700: rgba(0, 0, 0, 0.75),
  800: rgba(0, 0, 0, 0.85),
  900: rgba(0, 0, 0, 0.95)
);

:root {
  @each $name, $value in $theme {
    --m-theme-#{$name}: #{$value};
  }
  @each $name, $value in $rgba {
    --m-rgba-#{$name}: #{$value};
  }
}
