* {
  box-sizing: border-box;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--m-theme-800);
  background-color: var(--m-theme-container);
}

html[data-overflow="hidden"],
body[data-overflow="hidden"] {
  overflow: hidden;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

#m-inset__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.m-box-shadow {
  box-shadow:
    0px 1px 3px var(--m-rgba-200),
    0px 5px 8px var(--m-rgba-100),
    0px 8px 15px var(--m-rgba-50);
}

@mixin disabledMixin() {
  color: var(--m-rgba-400);
  background-color: var(--m-rgba-50);
  border-color: var(--m-rgba-100);
  cursor: not-allowed;
}
.is-disabled {
  @include disabledMixin();
  --border-color: var(--m-rgba-100);
  &:hover,
  &:active {
    @include disabledMixin();
  }
}
