.m-divider {
  width: 0;
  height: 0;
}

.m-divider-x {
  height: 0.982em;
  display: inline-flex;
  width: 1px;
  background-color: var(--color,var(--m-text-500));
  margin: 0 var(--size,12px);
}

.m-divider-y {
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--color,var(--m-text-500));
  margin: var(--size,12px) 0;
}